body{
  margin: 0;
}

::-webkit-scrollbar { 
  display: none; 
}

.bodyPage {
  background-image: url("../image/main_bg_dark.png");
  height: 1200px;
  background-attachment: fixed;
}

.navbar {
  
  height: 7%;
}

.nav_left {
  
  height: 100%;
  width: 50%;
  float: left;
}

.navLogo {
  
  height: 100%;
  width: 30%;
  text-align: center;
}

#logo{
  width: 85%;
  margin-top: 9px;
}

.nav_right {
  
  height: 100%;
  width: 30%;
  float: right;
}

.movies {
  
  height: 100%;
  width: 25%;
  float: left;
}

#movies, #series, #tvshow{
  text-align: center;
  
  display:block;
  font-family: 'Segoe UI Semilight', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13pt;
  color: white;
  margin-top: 30%;
}

.series {
  
  height: 100%;
  width: 25%;
  float: left;
}

.TVshow {
 
  height: 100%;
  width: 25%;
  float: left;
}

.imageLogo {
  
  height: 100%;
  width: 25%;
  float: left;
  text-align: center;
}

#imageLogo{
  background-image: url("../image/prof_pic.jpg");
  background-size: cover;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  margin-left: 20px;
  margin-top: 9px;
}
#imageLogoText{
  width: 45px;
  height: 20px;
  margin-left: 20px;
  margin-top: 9px;
  color: white;
  font-size: 8pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.uppersection {
  background-color: skyblue;
  height: 35%;
}

.left_uppersection {
  background-image: url("../image/movie_preview_main.png");
  background-size: cover;
  height: 100%;
  width: 60%;
  float: left;
}

#decription_box{
  
 width: 35%;
 height: 35%;
 margin-top: 30%;
}

#text {
  
  height: 65%;
  width: 70%;
  margin-left: 30px;
  color:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 9pt;
}

#movie_title{
  height: 25%;
  width: 100%;
  color:#00A6FF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12pt;
  margin-bottom: 2px;
}

#button_text {
  background-color: #00A6FF;
  height: 18%;
  width: 25%;
  border-radius: 15px 15px 15px 15px;
  margin-top: 8px;
  margin-left: 30px;
  text-align: center;
}

#watch_button{
  color:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10pt;
  width:80%;
  height: 80%;
  text-align: center;
  margin: 0 auto;
  padding-top: 4px;
}

.right_uppersection {
  background-color: purple;
  height: 100%;
  width: 40%;
  float: left;
}

#a1 {
  background-image: url("../image/movie_preview_1.png");
  background-size: cover;
  height: 35%;
  width: 35%;
  float: left;
}

#b1 {
  background-image: url("../image/movie_preview_2.png");
  background-size: cover;
  height: 35%;
  width: 65%;
  float: left;
}

#c1 {
  background-image: url("../image/movie_preview_3.png");
  background-size: cover;
  height: 35%;
  width: 60%;
  float: left;
}

#d1 {
  background-image: url("../image/movie_preview_4.png");
  background-size: cover;
  height: 35%;
  width: 40%;
  float: left;
}

#e1 {
  background-image: url("../image/movie_preview_5.png");
  background-size: cover;
  height: 30%;
  width: 50%;
  float: left;
}

#f1 {
  background-image: url("../image/movie_preview_6.png");
  background-size: cover;
  height: 30%;
  width: 50%;
  float: left;
}

.middlesection {
  
  height: 40%;
  margin-top: 25px;
}

.up_middle_top {
  
  height: 45%;
}

#text_watched {
  
  height: 20%;
}
.scroll_title{
  display: block;
  width: 150px;
  height: 60%;
  color:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12pt;
  margin-left: 20px;
}

#a2, #b2, #c2, #d2, #e2, #f2, #g2, #h2, #i2, #j2, #a3, #b3, #c3, #d3, #e3, #f3, #g3, #h3, #i3, #j3 {
  
  height: 70%;
  width: 8%;
  float: left;
  margin-left: 20px;
}

#a2{
  background-image: url("../image/poster_scroll_1.jpg");
  background-size: cover;
}

#k2{
  background-image: url("../image/poster_scroll_11.jpg");
  background-size: cover;
  height: 70%;
  width: 50px;
  float: left;
  margin-left: 20px;
}

#b2 {
  background-image: url("../image/poster_scroll_2.jpg");
  background-size: cover;
}

#c2 {
  background-image: url("../image/poster_scroll_3.jpg");
  background-size: cover;
}

#d2 {
  background-image: url("../image/poster_scroll_4.jpg");
  background-size: cover;
}

#e2 {
  background-image: url("../image/poster_scroll_5.jpg");
  background-size: cover;
}

#f2 {
  background-image: url("../image/poster_scroll_6.jpg");
  background-size: cover;
}

#g2 {
  background-image: url("../image/poster_scroll_7.jpg");
  background-size: cover;
}

#h2 {
  background-image: url("../image/poster_scroll_8.jpg");
  background-size: cover;
}

#i2 {
  background-image: url("../image/poster_scroll_9.jpg");
  background-size: cover;
}

#j2 {
  background-image: url("../image/poster_scroll_10.jpg");
  background-size: cover;
}

#a3{
  background-image: url("../image/poster_scroll_12.jpg");
  background-size: cover;
}

#k3{
  background-image: url("../image/poster_scroll_13.jpg");
  background-size: cover;
  height: 70%;
  width: 50px;
  float: left;
  margin-left: 20px;
}

#b3 {
  background-image: url("../image/poster_scroll_14.jpg");
  background-size: cover;
}

#c3 {
  background-image: url("../image/poster_scroll_15.jpg");
  background-size: cover;
}

#d3 {
  background-image: url("../image/poster_scroll_16.jpg");
  background-size: cover;
}

#e3 {
  background-image: url("../image/poster_scroll_17.jpg");
  background-size: cover;
}

#f3 {
  background-image: url("../image/poster_scroll_18.jpg");
  background-size: cover;
}

#g3 {
  background-image: url("../image/poster_scroll_19.jpg");
  background-size: cover;
}

#h3 {
  background-image: url("../image/poster_scroll_20.jpg");
  background-size: cover;
}

#i3 {
  background-image: url("../image/poster_scroll_21.jpg");
  background-size: cover;
}

#j3 {
  background-image: url("../image/poster_scroll_22.jpg");
  background-size: cover;
}

.up_middle_middle {
  
  margin-top: 25px;
  height: 45%;
}

#text_genre {
  
  height: 20%;
}


