body {
  margin: 0;
}

.bodyPage {
  background-color: yellow;
  height: 1200px;
}

.left_side {
  background-color: lightgreen;
  height: 100%;
  width: 30%;
  float: left;
}

.left_uppersectionLogo {
  background-color: lightblue;
  height: 8%;
  width: 100%;
  float: left;
  margin-top: 40%;
}

.left_bottomsection {
  background-color: darkred;
  height: 60%;
  width: 100%;
  margin-top: 100%;
}

.Basic_information {
  background-color: whitesmoke;
  height: 7%;
  width: 75%;
  margin-left: 10%;
}

.Plan_Selection {
  background-color: lightgoldenrodyellow;
  height: 7%;
  width: 75%;
  margin-left: 10%;
  margin-top: 5%;
}

.Members_Selection {
  background-color: gold;
  height: 7%;
  width: 75%;
  margin-left: 10%;
  margin-top: 5%;
}

.Payment_Information {
  background-color: black;
  height: 7%;
  width: 75%;
  margin-left: 10%;
  margin-top: 5%;
}

.right_side {
  background-color: gray;
  height: 100%;
  width: 70%;
  float: left;
}

.right_top_uppersectionName {
  background-color: lightsteelblue;
  height: 5%;
  width: 100%;
  float: right;
  margin-top: 5%;
}

.right_middle_section {
  background-color: darkblue;
  height: 40%;
  width: 100%;
  float: left;
}

.Fname_container {
  background-color: black;
  height: 20%;
  width: 50%;
  margin-top: 6%;
  float: left;
}

#Fname_text {
  background-color: white;
  height: 60%;
  width: 95%;
}

.Fname {
  background-color: lightseagreen;
  height: 75%;
  width: 100%;
  display: inline-block;
  margin-top: 5%;
}

.Lname_container {
  background-color: purple;
  height: 20%;
  width: 50%;
  margin-top: 6%;
  float: left;
}

#Lname_text {
  background-color: yellowgreen;
  height: 60%;
  width: 95%;
}

.Lname {
  background-color: lightpink;
  height: 75%;
  width: 100%;
  display: inline-block;
  margin-top: 5%;
}

.birth_container {
  background-color: yellow;
  height: 20%;
  width: 50%;
  margin-top: 1%;
  float: left;
}

#birth_text {
  background-color: darkslateblue;
  height: 60%;
  width: 95%;
}

.Birth {
  background-color: teal;
  height: 75%;
  width: 100%;
  display: inline-block;
  margin-top: 5%;
}

.email_container {
  background-color: whitesmoke;
  height: 20%;
  width: 50%;
  margin-top: 31%;
}

#email_text {
  background-color: darkseagreen;
  height: 60%;
  width: 95%;
}

.Email {
  background-color: darkgreen;
  height: 75%;
  width: 100%;
  display: inline-block;
  margin-top: 5%;
}

.right_bottom_section {
  background-color: black;
  height: 6%;
  width: 37%;
  margin-top: 75%;
  margin-left: 63%;
}

.button_next {
  background-color: white;
  height: 70%;
  width: 100%;
}
